*.iml
.gradle/
.idea/
build/
local.properties
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.jks
*.keystore

# iOS
ios/**/.build/
ios/**/*.xcodeproj/
ios/**/DerivedData/
ios/**/xcuserdata/
ios/App/iOS/Info.plist
ios/App/tvOS/Info.plist
ios/build/
ios/shots/
ios/Vendor/
